:root{
    --color-darkblue: #1a205f;
}
body::before{
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: var(--color-darkblue);
    background: linear-gradient(250deg, rgba(15, 34, 109, 0.61),rgba(55, 5, 136, 0.61)), url(Images/background1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-template-rows: 1fr 1fr;
    font-family: 'Nunito Sans', sans-serif;
    
}
#main{

    grid-area: 1 / 2 / 3 / 3;
    position: static;
    color: white;
    margin: auto;
    width: 80%;
}
header{
    text-align: center;
}
#survey-form{
    background-color: rgba(31, 41, 102, 0.7);
    border-radius: 0.50rem;
    padding: 1rem;
}
#optional{
    font-weight: normal;
    font-style: italic;
}
#description{
    font-style: italic;
}
#name-label{
    font-weight: bold;
}
#email-label{
    font-weight: bold;
}
#number-label{
    font-weight: bold;
}
#dropdown{
    width: 100%;
}
#dropdown-label{
    font-weight: bold;
}
#form-group{
    padding: 0px 1rem 2rem 1rem; 
}
.inputfield{
    width: 100%;    
    border-radius: 0.25rem;
}
legend{
    font-weight: bold;
}
#comments{
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
#commentsTitle{
    font-weight: bold;
}
label{
    display: flex;
    margin-bottom: 0.2rem;
}
#submit{
    background-color: #4CAF50;
    border: none;
    width: 100%;
    padding: 0.50rem 0.70rem;
    text-align: center;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
}
#submit:hover{
    background-color: #258328;
}
#submit:active{
    background-color: #2aa02e;
}
@media(max-width: 800px)
{
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #main{
        grid-area: 1 / -2 / 1 / -2;
        width: 80%;
    }
}
@media(max-width: 720px)
{
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #main{
        grid-area: 1 / -2 / 1 / -2;
        width: 100%;
    }
}
